.Controls {
    text-align: center;
}

.Buttons {
    padding-top: 1em;
    justify-content: space-between;
    margin: 0 auto;
}

.Roll {
    font-size: 36px;
}

.Reset {
    font-size: 36px;
}

.result-img {
    width: 5em;
    height: 5em;
    padding-top: 1em;
}