.Controls {
    text-align: center;
    position: relative;
}

.Buttons {
    padding-top: 1em;
    justify-content: space-between;
}

.Button {
    padding: 0 1em;
    margin: 0 0.5em;
}

.result-img {
    width: 5em;
    height: 5em;
    padding-top: 1em;
}